* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  width: 100%;
}

.general-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #061021;
}

.general-content > main {
  flex: 1;
}

@media (max-width: 768px) {
  body,
  html {
    font-size: 14px;
  }

  .general-content {
    flex-direction: column;
  }

  .general-content > main {
    padding: 10px;
  }
}
