.footer-component {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 5vh;
  background-color: #061021;
  padding: 10px 20px;
  color: white;
}

.footer-component a {
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 10px;
  transition: color 0.3s ease;
}

.footer-component a:hover {
  color: aqua;
}

.github-icon {
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transition: transform 0.3s ease;
}

.github-icon:hover {
  transform: scale(1.1);
}
