.header-component {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 7vh;
  background-color: #061021;
  padding: 1% 7%;
}

.title-first-word {
  color: white;
  font-size: 2.5rem;
}

.title-second-word {
  color: aqua;
  font-size: 3rem;
}

@media (max-width: 768px) {
  .header-component {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
  }

  .title-first-word,
  .title-second-word {
    font-size: 3.5rem;
  }
}
